body {
  margin: 0;
  background: black;
  overflow-x: hidden;
  font-family: Arial;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: none;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
}

.scroll {
  height: 400vh;
}